<!DOCTYPE html>
<html >
<!-- ng-app="pong" -->
<head>
	<title>Pong</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
	<script src="https://use.fontawesome.com/8b8cb59dd2.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css'>

	<!-- angular lib files -->
<!-- 	<script src="js/app/lib/angular.min.js"></script>
	<script src="js/app/lib/angular-route.min.js"></script>
	<script src="js/app/lib/angular-animate.min.js"></script> -->


<!-- 	<script src="js/app/app.js"></script>
	<script src="js/app/controllers/registration.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
	
	<script src="https://www.gstatic.com/firebasejs/live/3.0/firebase.js"></script> -->
	<script   src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="js/mainanimationframe.js"></script>
</head>
	<body>
		<!-- <section class="loading"></section> -->
		<section class="startOfGame">
			<!-- <h2>{{message}}</h2> -->
			<h1>Welcome to Pong!</h1>

			<p>Rules of the game:</p>
			<ul>
				<li>Try to prevent the ball from hitting the walls of the table. Anytime the ball hits the left or the right side of the table a point is scored.</li>
				<li>Once a player's score goes up to <span>5</span> the player wins!</li>
				<li>Enjoy!</li>
			</ul>

			<p>Would you like to play against another person or against the computer?</p>
			<section class="btnSection">
				<div class="person top">
					<p>Human</p>
				</div>
				<div class="personBkg bottom"></div>
				<div class="computer top">
					<p>Machine</p>
				</div>
				<div class="computerBkg bottom"></div>
			</section>

			<section class="names" ng-view>
				<article class="leftPlayer">
					<!-- <input type="text" ng-model="leftName"> -->
					<p>Left paddle: </p>
					<!-- <span ng-bind="leftName"></span> -->
					<p>Left paddle: </p>
					<div class="submitTop top">
						<p>Enter</p>
					</div>
					<div class="submitBtm bottom leftSubmit"></div>
				</article>
				<article class="rightPlayer">
					<p>Right paddle <input type="text" ng-model="rightName"></p>
					<p>Right paddle: <span ng-bind="rightName"></span></p>
					<div class="submitTop top rightSubmit">
						<p>Enter</p>
					</div>
					<div class="submitBtm bottom"></div>
				</article>
			</section>
		</section>

		<section class="board">
			<canvas id="table" width='800' height='400' style="border: 10px solid #73A8AF; border-radius: 10px;"></canvas>
		</section>	
		
		<section class="controls">
			<div class="pausePlay">
				<i class="fa fa-play" aria-hidden="true"></i>
			</div>
			<div class="pauseBkg"></div>
		</section>

		<section class="winner">
			<div class="playGroup">
				<div class="playagain top">
					<p>Play again</p>
				</div>
				<div class="btnBackground bottom"></div>
			</div>	
		</section>
	</body>
</html>